.container2 {
  margin-top: 3%;
  width: 100%;
}

.navLinks {
  //color:white !important;
}

.navbar-nav.navLinks a{
  color:white !important;
}

.nav-item {
  //color:white !important;
}

.searchTitle {
margin-top: 8%;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {    background-color: #cef8fd !important;
}

.foot{
  margin-bottom: 10%;
}

.newComponent {
    padding-right: 25px;
}

.cardInitial {
  margin: 10%;
}

.headerInitial {
  background-color: #0cad5a;
  color: white;
}
.initialTitle{
  padding-top: 5%;
  padding-bottom: 5%;
}

.showTitle{
  padding-top: 3% !important;
}

.add_subs {
  margin-top: 2.5rem;
}

.submitbutton {
   margin-top: 8.5%;
   padding-bottom: 5%;
   
}

.btn-submitbutton {
  color:white !important;
  background-color:#0844f9 !important;
}

.show, .edit{
  margin-right: 3%;
}

.showBack {
  margin-left: 3%;
}

b, strong {
    font-weight: bolder;
    margin-right: 2%;
}

