.container2 {
  margin-top: 3%;
  width: 100%;
}

.navbar-nav.navLinks a{
  color:white !important;
}

.navbar-light .navbar-toggler {
  //color: white !important;
  border-color: white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.searchTitle {
margin-top: 8%;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {    background-color: #cef8fd !important;
}

.foot{
  margin-bottom: 10%;
}

.newComponent {
    padding-right: 25px;
}

.cardInitial {
  margin: 10%;
}

.headerInitial {
  background-color: #0cad5a;
  color: white;
}
.initialTitle{
  padding-top: 5%;
  padding-bottom: 5%;
}

.card.cardShow {
    margin-top: 15%;
}

.showTitle{
  padding-top: 6% !important;
  padding-top: 6% !important;
}

.add_subs {
  margin-top: 2.5rem;
}

.submitbutton {
   margin-top: 8.5%;
   padding-bottom: 5%;
   
}

.btn-submitbutton {
  color:white !important;
  background-color:#0844f9 !important;
}

.show, .edit{
  margin-right: 3%;
}

.showBack {
  margin-left: 3%;
}

b, strong {
    font-weight: bolder;
    margin-right: 2%;
}



/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */


@media (max-width: 992px) and (orientation : portrait) { 

  .initialTitle {
    font-size: 1.7rem !important;
  }

}

/* ========================================================= */

@media (max-width: 767px) and (orientation : portrait) {

}

/* ========================================================= */

@media (max-width: 576px) and (orientation : portrait) {

  input, select, optgroup, textarea {
    font-size: 0.8rem !important;
    max-width: 100%;
  }

  .btn-submitbutton {
    margin-top: 20px;
    font-size: 1rem !important;
  }

  .card-body-initial{
  min-height: 1px;
    padding-top: 1.30rem !important;
  }

  .initialTitle {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.15rem !important;
  }
}

/* =============================================================== */
/* ===================MEDIA QUERIES - LANDSCAPE ================== */
/* =============================================================== */

@media (max-width:800px) and (min-width:500px) {
  input, select, optgroup, textarea {
    font-size: 0.8rem !important;
    max-width: 100%;
  }

  .btn-submitbutton {
    font-size: 1rem !important;
  }

  .card-body-initial{
    min-height: 1px;
    padding-top: 1.30rem !important;
  }

  .initialTitle {
    font-size: 1.6rem !important;
  }
}


@media (min-width:802px) and (max-width:1800px) {
  .initialTitle {
    font-size: 1.9rem !important;
  }
}



